# Use NFS? (won't work on windows)
$use_nfs = false

# Configure MTU on VM interfaces. Also requires manually configuring the same MTU on
# the equivalent 'vboxnet' interfaces on the host. i.e. sudo ip link set dev vboxnet0 mtu $MTU
$mtu = 1500

# Box name
$box = "bento/ubuntu-16.04"

# Box url
$box_url = "https://atlas.hashicorp.com/bento/boxes/ubuntu-16.04"

# Number of CPU's (min 2, recommend 4) adjust to your machine
$cpus = 4

# Amount of RAM (min 4096, recommed 8192) adjust to your machine
$memory = 8192

# Which release branch should we build? ( stable/juno | stable/kilo | stable/liberty | master )
$release_branch = "stable/mitaka"
#Set to where second disk should be created
$disk = "/home/freddy/VirtualBox VMs/stackinabox/box-disk2.vmdk"
