# Use NFS? (won't work on windows)
$use_nfs = false

# Box name
$box = "ubuntu/trusty64"

# Box url
$box_url = "https://atlas.hashicorp.com/ubuntu/boxes/trusty64"

# Number of CPU's (min 2, recommend 4) adjust to your machine
$cpus = 4

# Amount of RAM (min 4096, recommed 8192) adjust to your machine
$memory = 8192

# Which release branch should we build? ( stable/juno | stable/kilo | stable/liberty | master )
$release_branch = "stable/liberty"
